/* menu-content */
.menu-content{
	width:160px;
	margin:40px auto 0 auto;
}
.menu-content .listmore{
    display: block;
    text-align: center;
    height: 28px;
    line-height: 28px;
    border-top: 0;
    background: #eee;
    color: #1594d1;
}
.menu-list{display:block;}
.menu-list dt{
    display: block;
    height: 40px;
    line-height: 40px;
    background-color: #1e89f3;
    font-size: 14px;
    color: #fff;
    padding-left: 20px;
}
.menu-list dd{padding-top:2px;}
.menu-list dd a{
	display:block;
	height:33px;
	background:#f9f9f9;
	border-bottom:1px solid #eee;
	border-top:2px solid #fff;
	border-left:2px solid #999;
	border-right:1px solid #eee;
	color:#adadad;
	padding-left:25px; 
	line-height: 33px;
}
.menu-list dd a:hover{
	padding-left:35px;
	transition:all 0.2s ease-in-out;
	-webkit-transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
	-o-transition:all 0.2s ease-in-out;
	-ms-transition:all 0.2s ease-in-out;	
}
.menu-list dd a:hover,.menu-list dd a.current{
	border-left:2px solid #e00d23;
	background-color:#f6f6f6;
	color:#e00d23;
	font-weight:bold;
}

/*--- nav ---*/

.box{ width:980px; margin:0 auto;}
.bcon{ width:270px; border:1px solid #eee; margin:30px auto;}
.bcon h1{ border-bottom:1px solid #eee; padding:0 10px;}
.bcon h1 b{ font:bold 14px/40px '宋体'; border-top:2px solid #3492D1; padding:0 8px; margin-top:-1px; display:inline-block;}

.list_lh{ height:400px; overflow:hidden;}
.list_lh li{ padding:10px;}
.list_lh li.lieven{ background:#F0F2F3;}
.list_lh li p{ height:24px; line-height:24px;}
.list_lh li p a{ float:left;}
.list_lh li p em{ width:80px; font:normal 12px/24px Arial; color:#FF3300; float:right; display:inline-block;}
.list_lh li p span{ color:#999; float:right;}
.list_lh li p a.btn_lh{ background:#28BD19; height:17px; line-height:17px; color:#fff; padding:0 5px; margin-top:4px; display:inline-block; float:right;}
.btn_lh:hover{ color:#fff; text-decoration:none;}

.btm p{ font:normal 12px/24px 'Microsoft YaHei'; text-align:center;}